/* line 3, ../compass/sass/style.scss */
body .about img {
  box-shadow: 12px 0px 0px 12px rgba(255, 255, 255, 0.2), -12px 0px 12px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  vertical-align: middle;
  margin: 20px auto;
}
/* line 12, ../compass/sass/style.scss */
body nav .navbar {
  background-color: #ccc;
  -webkit-transition: all 0.4s ease;
  transition: all 1s ease;
}
/* line 18, ../compass/sass/style.scss */
body nav .shrink {
  min-height: 5px !important;
}
/* line 24, ../compass/sass/style.scss */
body .parallax-window {
  min-height: 400px;
  height: 95vh;
  background: transparent;
}
/* line 28, ../compass/sass/style.scss */
body .parallax-window .jumbotron {
  background: transparent;
}
/* line 31, ../compass/sass/style.scss */
body .parallax-window .jumbotron .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/* line 43, ../compass/sass/style.scss */
.vertical .carousel-inner {
  height: 100%;
}

/* line 47, ../compass/sass/style.scss */
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

/* line 55, ../compass/sass/style.scss */
.carousel.vertical .active {
  top: 0;
}

/* line 59, ../compass/sass/style.scss */
.carousel.vertical .next {
  top: 400px;
}

/* line 63, ../compass/sass/style.scss */
.carousel.vertical .prev {
  top: -400px;
}

/* line 67, ../compass/sass/style.scss */
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

/* line 72, ../compass/sass/style.scss */
.carousel.vertical .active.left {
  top: -400px;
}

/* line 76, ../compass/sass/style.scss */
.carousel.vertical .active.right {
  top: 400px;
}

/* line 80, ../compass/sass/style.scss */
.carousel.vertical .item {
  left: 0;
}
